html, body{
    font-family: "Press Start 2P";
    background-color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    background-image: url("../images/background.jpg");    
    background-repeat: no-repeat;
    background-size: 120vw;
    background-position-x: center;
    background-position-y: calc(40% + 5vh);
; 

    height: 100%;
   
}
body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}
player{
    width: 8vh;
    height: 8vh;
    background-image: url("../images/smiley.png");
    background-size: contain;
}
bomb{
    width: 50px;
    height: 50px;
    background-image: url("../images/bomb.png");
    background-size: contain;
    border-radius: 50%;
}
lives {
    font-size:2vw;
    text-shadow: 1px 1px 0px black;
    color:red;
    padding:20px;
    width:100%;
    text-align: left;
}
clicks {
    font-size:2vw;
    text-shadow: 1px 1px 0px black;
    color:red;
    padding:20px;
    width:100%;
    text-align: center;
}
score {
    font-size:2vw;
    text-shadow: 1px 1px 0px black;
    color:green;
    padding:20px;
    width:100%;
    text-align: right;
}
notice {
    font-size:40px;
    text-shadow: 1px 1px 0px black;
    color:red;
    padding: 10px;
    margin-top: 80px;
    margin-left: 45%;
    width:100%;
    text-align: center;
    border: 5px solid grey;
    border-radius: 20px;
    width: 200px;
}
numbers{
    font-size:15px;
    text-shadow: 1px 1px 0px black;
    color:white;
    padding:20px;
    width:100%;
    text-align: center;
    z-index: 10;
}
desc{
    font-size:1vw;
    text-shadow: 1px 1px 0px black;
    color:white;
    padding:20px;
    width:100%;
   bottom: 10px; 
    text-align: center; 
}
html
{
cursor: crosshair;
}